{% load staticfiles %}
{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <title>Feasty Meals: Eat Healthy, Live Well</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <!-- Bootstrap core CSS -->
   <!--  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    
<link href="{% static "css/packages.css" %}" rel="stylesheet"> 

    <!-- Fonts from Google Fonts -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'> -->


    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

   <style type="text/css">

.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot-green {position: absolute; width: 30px; height: 30px; display: block; background: #33CC33; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar-green {width:0px; box-shadow: none; background: #009900;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
</style>

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h3 ><b><i>FEASTY MEALS</i></b></h4><p style="margin-top:-5px;">Everyday food for healthy living</p>
		
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li style="margin-top:10px"><form class="form-inline" method="POST" action="{% url 'login' %}" >{% csrf_token %}
{% bootstrap_form loginForm %}

<button type="submit" class="btn btn-primary btn-sm">Log In</button>
</form></li> -->
          <li style="margin-top:20px"><div class="alert alert-danger" style="text-align:center; ">CALL <b>0552051031</b> or <b>SIGN UP</b> BELOW</div></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap" style="margin-top:">
		
		<div id="skills" style='margin-top:0px;'>
			<div id="w" style="height:150px">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
				<h3>WELCOME TO <bold>FEASTY MEALS.</bold> <br><bold>WE DELIVER FRESH</bold> AND HEALTHY DINNER EVERYDAY.<br><h4>Choose a weekly package and food will be delivered everyday.</h4><h3>
					
				
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /w -->
		<div class="container">
		<!-- 	<div class="row" style="margin-top:-40px">
			<div class="col-lg-6" style="background-color:">
				<h3 style='text-align:center; color:#5E5E5E;'>Fresh & Healthy Home Food.<br><b>Pay once, eat everyday!</b></h3>
				<h4 style="text-align:center; color:;">We believe in eating healthy food, and we also believe healthy food should not be expensive.</h4>
				<h4 style="text-align:center; color:#434343;">That's why we started <b>Feasty Meals</b>, to deliver fresh & healthy home cooked food to busy people in Dubai.</h4>
				
			</div>
			
			<div class="col-lg-3">
				<img src="{% static "img/chef-says-ok.png" %}" style="width:150px; height:150px;">
				</div>
		</div> --><!-- /row -->
		

		
		
		<div class="row" style="margin-top:; background-color:;">
		
		<div class="col-lg-8"  style="margin-top:;">
			<h4 style='text-align:center'><b>Today's Meals</b></h4>
			  <div class="col-md-5 column productbox" style="margin:15px">
    <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
    <div class="producttitle">Product 2</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>  
<div class="col-md-5 column productbox" style="margin:15px">
    <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
    <div class="producttitle">Product 2</div>
    <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£8.95</div></div>
</div>

  
  <h4 style='text-align:center'><b>WHY FEASTY MEALS?</b></h4>
<h5 style="color:#7A7A7A"><b>WE BELIEVE IN EATING HEALTHY FOOD, AND WE ALSO BELIEVE HEALTHY FOOD SHOULD NOT BE EXPENSIVE.</b></h5>
        <h5><b>ACTIVE INDIVIDUALS NEED TO EAT THE RIGHT FOODS TO PERFORM WELL. EATING THE RIGHT FOOD FOR DINNER IS VITAL TO HEALTHY LIVING.</b></h5>
      <h5 style="color:#7A7A7A"><b>THAT'S WHY WE STARTED FEASTY MEALS, TO DELIVER FRESH & HEALTHY FOOD TO PEOPLE FOR A HEALTHY LIFE</b></h5>  
      <h5><b>WITH FEASTY MEALS YOU CAN CHOOSE WEEKLY PACKAGES AND HAVE THE HEALTHIEST FOOD DELIVERED TO YOU EVERYDAY.</b></h5> 
</div>

<div class="col-lg-4 " style="background-color:; margin-top:px">
      
        <div class="well" style="padding:10px; margin-top:-50px;">
        <h3 style="color:#5E5E5E; text-align:center"><b>Register for a 3 day starter package</b> </h3>
          <form method="POST" class="form-vertical">{% csrf_token %}
            
            <div class="form-class">
              {% bootstrap_form registrationForm  %}
            </div>
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-error">
                    <strong>{{error|escape}}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
              
                {% for error in form.non_field_errors %}
                  <div class="alert alert-error">
                      <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
            {% endif %}
            
            <button type="submit" class="btn btn-primary btn-lg">Sign Up!</button>
          </form> 
      </div>
    </div>
				</div>
        <div class="col-lg-8"  style="margin-top:;">
      
				
			</div><!-- /row -->
	<!-- <div class="row" style="background-color:orange; margin-top:-600px;" >
			<img class="img-responsive" src="{% static "img/food4.jpg" %}" alt="">
			</div><!-- /col-lg-6 --> 
		  
			




		</div>

			
		</div><!-- /container -->
	</div><!-- /headerwrap -->
</div>
 <h3 style='text-align:center; color:#4C4C4C;'><b><i>How it works</i></b></h3><br>
<div class="container">
		 <div class="row bs-wizard" style="border-bottom:0;">

                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum"><b>REGISTER</b></div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">We offer VEG, NON-VEG and FITNESS Packages. Choose your package and sign up!</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum"><b>ACTIVATE & CONFIRM</b></div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">After you sign up, you will receive a phone call confirming your account and package.</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum"><b>PAY ONCE ON DELIVERY</b></div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">You pay for the package when you receive your first meal.</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum"><b>EAT EVERYDAY</b></div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Meals are deliverd to you everyday and on time.</div>
                </div>
            </div>
        
        
        
        
        
	</div>
</div>
	
<div id="row" style="background-color:white">
		<hr>
			<h3 style='text-align:center; color:#4C4C4C;'><b><i>Our Dinner Packages</i></b></h3><h5 style='text-align:center; color:#4C4C4C;'>Our delicious dinners to offer nutritious meals all week long</h5>
		<hr>
		
	</div><!-- /container -->






	<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4" >
            <h4 style='text-align:center; background-color:white;padding:15px;'><b>VEG PACKAGE</b></h4>
            <div class="post">
                <div class="post-img-content">
                    <img src="{% static "img/puloa.jpg" %}" style="width:400px;height:250px;overflow:hidden;"/>
                    <span class="post-title">
                        <b>Different Meal Everyday</b><br>
                    	<b>Balanced Nutrition</b><br>
                    	<b>Low Fat</b><br>
                    	<b>Carbs</b><br>
                    	<b>Fruits & Veggies</b></span>
                </div>
                <div class="content">
                	<div class="author">
                        <b>Veg Package</b> |
                       
                    </div>
                    	<div style='text-align:center'>
                    	<b>Primary meal + Salad + Fresh juice</b></div>
                    	<hr>
                    	<div style='text-align:center'>
                    	<h4 ><b style='color:orange'>AED 149</b> for 7 MEALS</div>
                    	<hr>

                    <div>
                    	This package is designed for <b>vegans</b> who love to stay <b>healthy and fit</b>. All the vegetables are <b>steam cooked</b> to retain their nutritional values and the meals are cooked with the <b>purest of oils.</b>
                    	</div>
                   	
                    <hr>
                  

                    <div style='text-align:center'>
                        <a href="{% url 'veg' %}" class="btn btn-warning btn-sm">View meals</a></div>
                    </div>
                </div>
            </div>
       
        <div class="col-sm-4 col-md-4">
        	<h4 style='text-align:center; background-color:white;padding:15px;'><b>NON-VEG PACKAGE</b></h4>
            <div class="post">
                <div class="post-img-content">
                    <img src="{% static "img/no-oil.jpg" %}" style="width:455px;height:250px;overflow:hidden;" class="img-responsive" />
                    <span class="post-title">
                        <b>Different Meal Everyday</b><br>
                        <b>Balanced Nutrition</b><br>
                    	<b>Proteins</b><br>
                    	<b>Carbs</b><br>
                    	<b>Fruits & Veggies</b></span>
                </div>
                <div class="content">
                    <div class="author">
                         <b>Energy| Lean</b> |
                        
                    </div>
                    <div style='text-align:center'>
                    	<b>Primary meal + Salad + Fresh juice</b></div>
                    	<hr>
                    	<div style='text-align:center'>
                    	<h4 ><b style='color:blue'>AED 169</b> for 7 MEALS</h4>
                    	<hr>
                    
                        This package offers delicious <b>non-vegetarion</b> meals with least amount of un-saturated fats. Although most of the meals are comprised of <b>chicken</b> and <b>mutton</b>, <b>fish, prawns and beef</b> are also included.
                    	<hr>
                        <a href="#" class="btn btn-primary btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
        	<h4 style='text-align:center; background-color:white;padding:15px;'><b>FITNESS PACKAGE</b></h4>
            <div class="post">
                <div class="post-img-content">
                     <img src="{% static "img/s1.png" %}" style="width:455px;height:250px;overflow:hidden;" class="img-responsive" />
                    <span class="post-title">
                        <b>Calorie based</b><br>
                    	<b>Weight Gain Package</b><br>
                    	<b>Diet Package</b><br>
                    	<b>Get Lean Package</b><br>
                    	<b>Veg & Non-Veg</b></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div style='text-align:center'>
                    	<b>Primary meal + Secondary Meal + Salad + Smoothie</b></div>
                    	<hr>
                    <div>
               		<div style='text-align:center'>
                    	<h4 ><b style='color:green'>AED 199</b> for 7 MEALS</h4>
                    	<hr>
                    
                    
                        This package comprises of various <b>fitness meals</b> which makes for excellent <b>weight-gain, weight-loss, get-lean</b> foods. <br> Choose this to get the most of your workouts and truly get in the best shape of your life!
                    
                    <hr>
                    
                        <a href="#" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

		<hr>
<div class="row" style="background-color:; " >
	
	

	<hr>
	</div>

	


<div id="w">
		<div class="container">
			<div class="row">
        <h3 style='text-align:center; color:#4C4C4C;'><b><i>Our Food</i></b></h3><h5 style='text-align:center;'><h5 style='text-align:center; color:#4C4C4C;'>Every meal is cooked with these values</h5><br>
				<div class="col-lg-3 ">
				<img src="{% static "img/fresh.png" %}" class='img-circle'style="width:150px;height:150px;">
				<h4>FRESH<bold> INGREDIENTS</bold>
				</h4>
				</div>
				<div class="col-lg-3 ">
				<img src="{% static "img/healthapple.jpg" %}" style="width:140px;height:150px;">
				<h4>NON OILY, <bold>NON SPICY</bold> 
				</h4>
				</div>
				<div class="col-lg-3 ">
				<img src="{% static "img/nutritious.jpg" %}" class='img-circle'style="width:150px;height:150px;">
				<h4>BALANCED <bold>NUTRITION</bold>
				</h4>
				</div>
				<div class="col-lg-3 ">
				<img src="{% static "img/cost1.jpg" %}" class='img-circle'style="width:150px;height:150px;">
				<h4>SAVE<bold> MONEY</bold></h4>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /w -->
	
	

			
<!-- ========== FOOTER SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="">
		<div class="container">
			<div class="row">
					<h3><b>CONTACT US FOR A QUICK MEAL</b></h3>
					<br>
					<div class="col-lg-4">
						<h3><b>Send Us A Message:</b></h3>
						<h3 style="color:#ff4411">eat@feastymeals.com</h3>
						<br>
					</div>
				
					<div class="col-lg-4">	
					</div>
					
					<div class="col-lg-4">	
						<h3><b>Call Us:</b></h3>
						<h3 style="color:#ff4411;">+971 552051031</h3>
						<br>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	
	<div id="c">
		<div class="container">
			<p style="color:#00ccdd">FEASY MEALS &#174 2014, An Indian Coffee House service.</p>
		
		</div>
	</div>


	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>






